{% extends "base.html" %}
{% load staticfiles %}

{% block content_left8 %}
    <div class="col-md-8 column">
            {% if not real_url %}
                    <div class="jumbotron">
                        <h2>
                            微博网页视频下载
                        </h2>
                        <form action="{% url 'weibo_video_web_download:analyze_url' %}" method="post" autocomplete="off">

                            <div class="form-group marb20 {% if login_form.errors.username %}errorput{% endif %}">
                                <input name="weibo_video_url" class="form-control" placeholder="网址/网页/url/链接" />

                            </div>
                        <p>
                                复制微博视频网页地址,粘贴到框内,然后点分析按钮  <input class="btn btn-primary btn-large" id="jsLoginBtn" type="submit" value="立即开始进行分析 "/>
                            </p>
                                {% if error %}
                                <h2>
                                啊哦，出错了！
                                </h2>
                                <p>
                                    <label>{{ error }}</label>
                                </p>
                                {% endif %}
                            {% csrf_token %}
                        </form>

                        <p>
                        </p>
                    </div>
            {% endif %}
            {% if real_url %}
                    <div class="jumbotron">
                        <p>
                            微博视频的源地址,可右键复制或者直接下载
                        </p>
                        <p>
                            <a href="{{ real_url }}" target="_blank">{{ real_url }}</a>
                            <input hidden="hidden" class="int" id="oldurl" name="oldurl" value="{{ real_url }}">
                        </p>
                        <p>转为迅雷专用下载地址后使用迅雷下载
                            <input  class="btn btn-primary btn-large" id="button" onclick="urlconvert();" type="button" value="转换为迅雷下载地址" name="button"></p>
                        <p><label for="thunderurl">迅雷专用地址:</label> <input class="int" id="thunderurl"
                                                                        onclick="if(this.value){copy(this.value);}"
                                                                        name="thunderurl"><span id="down_thunderurl"></span></p>
                    </div>
            {% endif %}
    </div>
{% endblock %}