{% extends "base.html" %}
{% load staticfiles %}
    {% block title %}
    <title>影片下载地址</title>
    {% endblock %}
{% block content_left8 %}
				<div class="col-md-8 column">
                    <div class="list-group">
                        {% for aname,bvalue in temp_dict.items %}
                         <a href="#" class="list-group-item active">{{ aname }}</a>
                            {% if bvalue %}
                                {% for sin_url_info in bvalue %}
                                <div class="list-group-item">
                                    <a class="p1" href="{{ sin_url_info }}">{{ sin_url_info }}</a>
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
				</div>
{% endblock %}

