{% extends "base.html" %}
{% load staticfiles %}
    {% block title %}
    <title>影片观看地址</title>
    {% endblock %}
{% block content_left8 %}
				<div class="col-md-8 column">
                    <div class="list-group">
                        {% for film_online_dict in lookpage_temp %}
{#                         <a href="#" class="list-group-item active">{{ film_online_dict }}</a>#}
                                {% for key, value in film_online_dict.items %}

    {#                                {% for sin_url_info in bvalue %}#}
                                    <div class="list-group-item">

                                                 <form action="{% url 'film_search:film_onlinelook_url' %}" method="post" autocomplete="off">

                                                            <input hidden="hidden"  name="film_onlinelook_url" value="{{ value }}" />
                                                            <button type="submit" class="btn btn-primary">{{ key }}</button>
                                                            {% csrf_token %}
                                                </form>
                                    </div>
    {#                                {% endfor %}#}
                                {% endfor %}
                        {% endfor %}
                    </div>
				</div>
{% endblock %}

